@font-face {
    font-family: caramello;
    src: url(fonts/Caramello_Free.otf);
}

@font-face {
    font-family: appetiteprolight;
    src: url(fonts/AppetitePro_Light.otf);
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    border: 0;
}

.hbox {
    width: 100vw;
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    flex-wrap: wrap;
}


#welcome {
}

#form {
    background-color: #f8f1d5;
}

#transport-accomodation {
    background-color: #f1e5b3;
}

#dress-code {
    background-color: #ecdb97;
}

#presents {
    background-color: #f1e5b3;
}

#schedule {
    background-color: #f8f1d5;
}

#contact {

}

.button {
    max-width: 20vw;
    height: min(4vh, 4vw);
    border: 0.3vh solid black;
    color: black;
    font-family: appetiteprolight;
    font-size: 3vh;
    padding: 1vh;
    margin: auto;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

h1 {
    font-family: caramello;
    font-size: min(16vh, 12vw);
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: caramello;
    font-size: min(8vh, 10vw);
    font-weight: lighter;
    margin: 0;
    padding: 0;
}


h3 {
    font-family: appetiteprolight;
    font-size: min(3vh, 3vw);
    font-weight: lighter;
    max-width: 80vw;
    margin: auto;
}

.link {
    text-underline: none;
    text-decoration: none;
    color: black;
}

.link:hover {
    border-bottom: 0.3vh dashed gray;
}

#contact-box {
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin: auto;
}

.contact-item {
    width: 40vw;
    text-align: center;
}